body{
    background-image: url('Images/background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    color: aliceblue;
    text-align: center;
    font-size: 50pt;
}
table, th, tr{
    border-collapse: collapse;
    width: 50%;
    font-size: 20pt;
    color: aliceblue;
    text-align: left;
}
button{
    border: none;
    background-color: aliceblue;
    padding: 15px 32px;
    font-size: 12pt;
    border-radius: 8px;
    text-transform: uppercase;
    display: inline-block;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}