body{
    background-image: url('Images/background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    color: aliceblue;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
}
h2{
    color: aliceblue;
    text-align: left;
    font-size: 30pt;
    font-weight: 900;
}
.h2-tabela{
    text-align: center;
}
p{
    color: aliceblue;
    font-size: 30pt;
    padding: 2%;
    text-align: justify;
}
table, th, tr{
    border-collapse: collapse;
    width: auto;
    font-size: 20pt;
    color: aliceblue;
    text-align: left;
}
table{
    margin: auto;
}
th, tr{
    margin: 25px 0;
}
th{
    background-color: teal;
    font-weight: bold;
    border: 1px solid aliceblue;
    padding: 12px 12px;
    border-radius: 5px 5px 0 0;
}
td{
    padding: 12px 12px;
    border: 1px solid aliceblue;
}
tr{
    border: 1px solid aliceblue;
}
.btn{
    font-family: arial;
    font-size:14px;
    font-weight:700;
    text-transform: uppercase;
    border:none;
    padding:10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    text-align: center;
    background:aliceblue;
    color: black;
    box-shadow:0 5px 0 aliceblue;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-aliceblue{
    width: 250px;
}
.btn-aliceblue-voltar{
    width: auto;    
}
.btn-aliceblue:hover{
  background: white;
  box-shadow:0 5px 0 white;
}
figure{
    font-size: 15pt;
    color: aliceblue;
    text-align: center;
    display: inline-block;
    width: auto;
}
.consultas{
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 10%;
}
.esquerda{
    float: left;
    color: aliceblue;
    width: 38%;
    padding-left: 18%;
}
.direita{
    float: right;
    color: aliceblue;
    width: 38%;
}